<div class="navbar bg-orange-400">
  <div class="flex-1">
    <a class="pl-5 normal-case text-xl">Solicitud de Certificados</a>
  </div>

  <div class="flex-none">
    <img class="w-15 h-11 mr-4" src="/assets/Logo Yavirac en negativo.png" alt="">
  </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Secretaria
            </a>
          </li>
          <li><a [routerLink]="'../login'">Cerrar Sesion</a></li>
        </ul>
      </div>
    </div>

  </div>
